* {
  margin: 0;
  padding: 0;
}

#library {
  display: flex;
  flex-flow: row wrap;
}

.card {
  display: flex;
  flex-direction: column;
  width: 15rem;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
.card-body {
  padding: 1.25rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: .75rem;
}

.modal { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: rgba(0,0,0,0.8);
    visibility: hidden;
    opacity: 0;
  }

  .modal-dialog {
    position: relative;
    max-width: 800px;
    max-height: 80vh;
    border-radius: 5px;
    background: #fff;
    padding: 1rem;
    overflow: auto;
  }

  .modal.open {
    visibility: visible;
    opacity: 1;
  }

  .form-label {
    display: inline-block;
  }

  .form-control {
    display: block;
    width: 100%;
  }